[run]
omit = 
    */migrations/*
    */tests.py
    */test_*.py
    */__pycache__/*
    */venv/*
    */env/*
    manage.py
    */asgi.py
    */wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.DEBUG
    if TYPE_CHECKING:
